services:
  backend:
    build:
      context: ./Back_End
    restart: unless-stopped
    environment:
      NODE_ENV: production
      SALT_ROUNDS: ${SALT_ROUNDS}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY}
      MONGODB_CONN_STR: ${MONGODB_CONN_STR}
      BE_PORT: ${BE_PORT}

    networks:
      - shared-network

    deploy:
      resources:
        limits:
          memory: 512M

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

    expose:
      - "5000"

  frontend:
    build:
      context: ./Expense_Tracker_FE
      args:
        VITE_BE_URL: ${VITE_BE_URL}
    networks:
      - shared-network
    deploy:
      resources:
        limits:
          memory: 256M

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    restart: unless-stopped
    depends_on:
      - backend

networks:
  shared-network:
    external: true