.home-container {
}

.home-container > h1 {
	text-align: center;
	font-size: 2.5rem;
	margin-bottom: 30px;
}

.home-container > p {
	text-align: center;
	font-size: 1.5em;
	width: 50%;
	margin: auto;
	margin-top: 30px;
}

.home-container > p:nth-child(3) {
	font-size: 3rem;
}
